<div class="container-fluid  mynavbar">
    <div class="row">
        <div class="col-xl-12 mycol">
            <nav>
                <div class="dropdown">
                    <button class="dropbtn">MENU</button>
                    <div class="dropdown-content">
                        <ul>
                            <!-- <li class='list-list'routerLink="/countdown">
                              <div class='quiz'>
                              <i class="fa fa-home myicon" aria-hidden="true"></i>
                              <span  class='icon-home'>Home</span>
                            </div>
                            </li> -->
                            <li class='list1'routerLink="/git">
                              <div class='quiz'>
                              <img class='list-pict'src="./assets/img/git.png" alt="git picture">
                              <p class='para'>Quiz</p>
                            </div>
                            </li>
                            <li class='list2'routerLink="/html">
                              <div class='quiz'>
                                <img class='list-pict'src="./assets/img/html1.png" alt="html picture">
                                <p class='para'>Quiz</p>
                              </div>
                            </li>
                            <li class='list3'routerLink="/css">
                              <div class='quiz'>
                                <img class='list-pict'src="./assets/img/css2.png" alt="css picture">
                                <p class='para'>Quiz</p>
                              </div>
                            </li>
                            <li class='list4'routerLink="/javascript">
                              <div class='quiz'>
                                <img class='list-pict'src="./assets/img/js3.png" alt="javascript picture">
                                <p class='para'>Quiz</p>
                              </div>
                            </li>
                            <li class='list5'routerLink="/angular">
                              <div class='quiz'>
                                <img class='list-pict'src="./assets/img/angular.ico" alt="angular picture">
                                <p class='para'>Quiz</p>
                              </div>
                            </li>
                            <li class='list6'>
                              <div class='center1'(click)="getScore()">Evaluation</div>
                            </li>
                            <li class='list7'><div (click)="getReset()"class='center1'>Reset Quiz</div></li>
                    </ul>
                    </div>
                  </div>
              </nav>
        </div>
    </div>
</div>
