
<div class="container-fluid containerhead">
  <div class="box">
    <img src="./assets/img/git.png" alt="git picture"><br>
<div class="icon-score"><span class='icon-point'>{{gitpoints}}<br>
  <p class='quiz-comp'*ngIf='quizf'>Completed</p>
</span></div>

  </div>
  <div class="box">
    <img src="./assets/img/html1.png" alt="html picture"><br>
    <div class="icon-score1"><span class='icon-point'>{{htmlpoints}}<br>
      <p class='quiz-comp'*ngIf='quizf1'>Completed</p>
    </span></div>

  </div>
  <div class="box">
    <img src="./assets/img/css2.png" alt="css picture"><br>
    <div class="icon-score3"><span class='icon-point'>{{csspoints}}<br>
      <p class='quiz-comp'*ngIf='quizf2'>Completed</p>
    </span></div>

  </div>
  <div class="box">
    <img src="./assets/img/js3.png" alt="javascript picture"><br>
    <div class="icon-score4"><span class='icon-point'>{{jspoints}}<br>
      <p class='quiz-comp'*ngIf='quizf3'>Completed</p>
    </span></div>

  </div>
  <div class="box">
    <img src="./assets/img/angular.ico" alt="angular picture"><br>
    <div class="icon-score5"><span class='icon-point'>{{angularpoints}}<br>
      <p class='quiz-comp'*ngIf='quizf4'>Completed</p>
    </span></div>
  </div>
</div>
<score></score>
<navbar></navbar>
<text></text>


  <div class="container1">
    <div class="cub cub1"><span class="mycube">f</span></div>
    <div class="cub cub2"><span class="mycube">r</span></div>
    <div class="cub cub3"><span class="mycube">o</span></div>
    <div class="cub cub4"><span class="mycube">n</span></div>
    <div class="cub cub5"><span class="mycube">t</span></div>
    <div class="cub cub6"><span class="mycube">e</span></div>
    <div class="cub cub7"><span class="mycube">n</span></div>
    <div class="cub cub8"><span class="mycube">d</span></div>
  </div>
  <div class="container2">
    <div class="cub-cub quiz-cyb1"><span class="mycub">q</span></div>
    <div class="cub-cub quiz-cyb2"><span class="mycub">u</span></div>
    <div class="cub-cub quiz-cyb3"><span class="mycub">i</span></div>
    <div class="cub-cub quiz-cyb4"><span class="mycub">z</span></div>
  </div>
