@import url('https://fonts.googleapis.com/css?family=Sriracha');
.myparagraph{
    height:40px;
    background-color: #353b48;
    position: relative;
    bottom:1px ;
}
.paragraph{
    position: relative;
    bottom:1px;
    text-align: center;
    text-align: center;
    font-size:18px;
    color:white;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    background-color:#636E72 ;

}

@media screen and (max-width:575px){
    .paragraph{
    font-size:10px ;
    }
}