
<div class="container-fluid containerhead">
  <div class="box">
    <img src="./assets/img/git.png" alt="git picture">
  </div>
  <div class="box">
    <img src="./assets/img/html1.png" alt="html picture"><br>
    <i class="fa fa-clock-o icon-icon" aria-hidden="true"><span class='icon-nr'>{{nrsecounds| minute}}</span></i>
  </div>
  <div class="box">
    <img src="./assets/img/css2.png" alt="css picture">
  </div>
  <div class="box">
    <img src="./assets/img/js3.png" alt="javascript picture">
  </div>
  <div class="box">
    <img src="./assets/img/angular.ico" alt="angular picture">
  </div>
</div>
<scorehtml></scorehtml>
<navbartwo></navbartwo>
<text></text>
<div class="container cont-cont ">
  <button class="btnbtn" (click)="getFun()"[disabled]="fun"><span class="start">Start Html Quiz</span></button>
  <ngb-accordion #acc="ngbAccordion" CactiveIds="ngb-panel-0">
    <ngb-panel [disabled]="show1">
      <ng-template ngbPanelHeader>
        <button (click)='getStart()' ngbPanelToggle class="btn-btn">Question 1</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>An unordered list in HTML document starts with a ?</p>
        <input type="radio" name=" button1" value='button3' id="opener1" (click)='getAnswer()'>
        <label for="opener1">none</label><br>
        <input type="radio" name=" button1" value='button1' id="opener2" (click)='getAnswer()'>
        <label for="opener2"> {{txt1}}</label><br>
        <input type="radio" name=" button1" value='button2' id="opener3" (click)='getAnswer()'>
        <label for="opener3">{{txt2}}</label><br>
        <input type="radio" name=" button1" value='button4' id="opener4" (click)='getData()'>
        <label for="opener4">{{txt}}</label><br>
        <div>
          <div id="dialog" title="Try again">
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 2</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>HTML is a ?</p>
        <input type="radio" name=" button1" value='button4' id="opener1" (click)='getData1()'>
        <label for="opener1">Markup language</label><br>
        <input type="radio" name=" button1" value='button3' id="opener2" (click)='getAnswer1()'>
        <label for="opener2">Scripting laguage</label><br>
        <input type="radio" name=" button1" value='button1' id="opener3" (click)='getAnswer1()'>
        <label for="opener3">Programming language</label><br>
        <input type="radio" name=" button1" value='button2' id="opener4" (click)='getAnswer1()'>
        <label for="opener4">All of above</label>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show2">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 3</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>In HTML tables the table row is defined by?</p>
        <input type="radio" name=" button1" value='button2' id="opener1" (click)='getAnswer2()'>
        <label for="opener1">{{txt6}}</label><br>
        <input type="radio" name=" button1" value='button3' id="opener2" (click)='getAnswer2()'>
        <label for="opener2">{{txt5}}</label><br>
        <input type="radio" name=" button1" value='button1' id="opener3" (click)='getAnswer2()'>
        <label for="opener3">{{txt3}}</label><br>
        <input type="radio" name=" button1" value='button4' id="opener4" (click)='getData2()'>
        <label for="opener4">{{txt4}}</label><br>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show3">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 4</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>In HTML tables the gap between the two cells of same tables are known as?</p>
        <input type="radio" name=" button1" value='button4' id="opener1" (click)='getData3()'>
        <label for="opener1">cell spacing</label><br>
        <input type="radio" name=" button1" value='button1' id="opener2" (click)='getAnswer3()'>
        <label for="opener2">cell difference </label><br>
        <input type="radio" name=" button1" value='button3' id="opener3" (click)='getAnswer3()'>
        <label for="opener3">cell padding</label><br>
        <input type="radio" name=" button1" value='button2' id="opener4" (click)='getAnswer3()'>
        <label for="opener4">all of above</label>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show4">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 5</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>For adding quotation marks in web page paragraph or in line tag we can use?</p>
        <input type="radio" name=" button1" value='button3' id="opener1" (click)='getAnswer4()'>
        <label for="opener1">{{txt7}}</label><br>
        <input type="radio" name=" button1" value='button1' id="opener2" (click)='getAnswer4()'>
        <label for="opener2">{{txt8}}</label><br>
        <input type="radio" name=" button1" value='button4' id="opener3" (click)='getData4()'>
        <label for="opener3">{{txt10}}</label><br>
        <input type="radio" name=" button1" value='button2' id="opener4" (click)='getAnswer4()'>
        <label for="opener4">{{txt9}}</label><br>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show5">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 6</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p> In HTML tables the table header is defined by?</p>
        <input type="radio" name=" button1" value='button3' id="opener1" (click)='getAnswer5()'>
        <label for="opener1">{{txt12}}</label><br>
        <input type="radio" name=" button1" value='button1' id="opener2" (click)='getAnswer5()'>
        <label for="opener2">{{txt13}}</label><br>
        <input type="radio" name=" button1" value='button4' id="opener3" (click)='getData5()'>
        <label for="opener3">{{txt11}}</label><br>
        <input type="radio" name=" button1" value='button2' id="opener4" (click)='getAnswer5()'>
        <label for="opener4">{{txt14}}</label><br>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show6">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 7</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>HTML tags are?</p>
        <input type="radio" name=" button1" value='button4' id="opener1" (click)='getData6()'>
        <label for="opener1">not case sensitive </label><br>
        <input type="radio" name=" button1" value='button3' id="opener2" (click)='getAnswer6()'>
        <label for="opener2"> case sensitive </label><br>
        <input type="radio" name=" button1" value='button1' id="opener3" (click)='getAnswer6()'>
        <label for="opener3">lowercase stricter</label><br>
        <input type="radio" name=" button1" value='button2' id="opener4" (click)='getAnswer6()'>
        <label for="opener4">uppercase stricter</label><br>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show7">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 8</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>Which one from the following is a block level element in HTML ?</p>
        <input type="radio" name=" button1" value='button3' id="opener1" (click)='getAnswer7()'>
        <label for="opener1">{{txt15}}</label><br>
        <input type="radio" name=" button1" value='button4' id="opener2" (click)='getData7()'>
        <label for="opener2">{{txt16}}</label><br>
        <input type="radio" name=" button1" value='button1' id="opener3" (click)='getAnswer7()'>
        <label for="opener3">{{txt17}}</label><br>
        <input type="radio" name=" button1" value='button2' id="opener4" (click)='getAnswer7()'>
        <label for="opener4">both 1 and 2</label><br>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show8">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 9</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p> For uniquely identifying an elements name which attribute is used?</p>
        <input type="radio" name=" button1" value='button1' id="opener1" (click)='getAnswer8()'>
        <label for="opener1">class</label><br>
        <input type="radio" name=" button1" value='button2' id="opener2" (click)='getAnswer8()'>
        <label for="opener2">header</label><br>
        <input type="radio" name=" button1" value='button4' id="opener3" (click)='getData8()'>
        <label for="opener3">id</label><br>
        <input type="radio" name=" button1" value='button3' id="opener4" (click)='getAnswer8()'>
        <label for="opener4">none</label>
      </ng-template>
    </ngb-panel>
    <ngb-panel [disabled]="show9">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn-btn">Question 10</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <p> The "href" attribute in HTML document is used to define?</p>
        <input type="radio" name=" button1" value='button3' id="opener1" (click)='getAnswer9()'>
        <label for="opener1">paragraph</label><br>
        <input type="radio" name=" button1" value='button4' id="opener2" (click)='getData9()'>
        <label for="opener2">link destination</label><br>
        <input type="radio" name=" button1" value='button1' id="opener3" (click)='getAnswer9()'>
        <label for="opener3">header </label><br>
        <input type="radio" name=" button1" value='button2' id="opener4" (click)='getAnswer9()'>
        <label for="opener4">table</label><br>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
